{%- set title = '首页' -%}

{% include '_header.html' %}
  <main class="content">
    <article>
      <h1>重温曾经的美好</h1>
      <p>SNH48 Team HⅡ成员陈怡馨，昵称嘟嘟，1996年9月17日出生，2014年7月26日以三期生身份加入SNH48，同年9月5日入选新成立的H队。后经几度起落，于2016年11月宣布了离开的计划，并于同年12月10日零点清空微博，退出了公众的视野。</p>
      <p>本站尽可能搜集了2014年7月至2016年12月间嘟嘟在微博留下的痕迹，以方便美观的多种形式呈现给大家，聊作纪念。本站详情请参见<a href="/about">关于</a>页。</p>
      <p>本站提供以下六种浏览模式：</p>
      <hr class="skip">
      <ul>
        <li>(1) <a href="/all/1"><b>全部状态及评论</b></a>：全部相关状态按时间倒序排列，每页50条状态；</li>
        <li>(2) <a href="/2016/12"><b>按月浏览</b></a>：每月一页，请从下列月份中选择：
          <ul id="month-list" class="multicol">
            <li><a href=/2016/12>2016-12</a></li>
            <li><a href=/2016/11>2016-11</a></li>
            <li><a href=/2016/10>2016-10</a></li>
            <li><a href=/2016/09>2016-09</a></li>
            <li><a href=/2016/08>2016-08</a></li>
            <li><a href=/2016/07>2016-07</a></li>
            <li><a href=/2016/06>2016-06</a></li>
            <li><a href=/2016/05>2016-05</a></li>
            <li><a href=/2016/04>2016-04</a></li>
            <li><a href=/2016/03>2016-03</a></li>
            <li><a href=/2016/02>2016-02</a></li>
            <li><a href=/2016/01>2016-01</a></li>
            <li><a href=/2015/12>2015-12</a></li>
            <li><a href=/2015/11>2015-11</a></li>
            <li><a href=/2015/10>2015-10</a></li>
            <li><a href=/2015/09>2015-09</a></li>
            <li><a href=/2015/08>2015-08</a></li>
            <li><a href=/2015/07>2015-07</a></li>
            <li><a href=/2015/06>2015-06</a></li>
            <li><a href=/2015/05>2015-05</a></li>
            <li><a href=/2015/04>2015-04</a></li>
            <li><a href=/2015/03>2015-03</a></li>
            <li><a href=/2015/02>2015-02</a></li>
            <li><a href=/2015/01>2015-01</a></li>
            <li><a href=/2014/12>2014-12</a></li>
            <li><a href=/2014/11>2014-11</a></li>
            <li><a href=/2014/10>2014-10</a></li>
            <li><a href=/2014/09>2014-09</a></li>
            <li><a href=/2014/08>2014-08</a></li>
            <li><a href=/2014/07>2014-07</a></li>
          </ul>
        </li>
        <li>(3) <a href="{{ latest_status_link }}"><b>单条状态</b></a>：每条状态分距一页，按时间顺序相互串联；</li>
        <li>(4) <a href="/interactions/"><b>成员互动</b></a>：查看嘟嘟与SNH48、BEJ48及GNZ48各成员的互动；</li>
        <li>(5) <a href="/gallery"><b>画廊</b></a>：嘟嘟所有状态配图的图集；</li>
        <li>(6) <a href="/one-page"><b>全部状态及评论，单页</b></a>：集所有状态及评论于一页。加载慢，不推荐使用。</li>
      </ul>
      <hr class="skip">
      <p>谢谢您的访问。同时祝福嘟嘟。</p>
    </article>
  </main>
{% include '_footer.html' %}

{#- Local Variables: -#}
{#- mode: jinja2 -#}
{#- End: -#}
